.font1 {
    font-family: Times;
    text-align: center;
    
}

.font2 {
    font-family: Arial;
    text-align: center;
    
}

.font3 {
    font-family: Lobster;
    text-align: center;
    
}

#image {
    text-align: center;
}
